<extend name="Base/base"/>
<block name="content">
    <div id="box">
    <volist name="list" id="val">
        <div class="row noticeList">
            <a href="{$val.url}">
                <div class="col-xs-2">
                    <img class="noticeImg" src="{$val.path}" />
                </div>
                <div class="col-xs-10">
                    <p class="title">{$val.title}</p>
                    <p class="intro">{$val.description}</p>
                    <p class="info">浏览: 199 <span class="pull-right">{$val.create_time}</span> </p>
                </div>
            </a>
        </div>
    </volist>
    </div>
    <div class="text-center">
        <input type="button" class="btn btn-info  getMore" value="获取更多"/>
    </div>
</block>

<block name="script">
    <script type="application/javascript">
        $(function(){
            var p = 1;
            //给btn添加点击事件
            $(".getMore").click(function(){
                $.post("{:U('index')}",{p:p+1},function(data){
                    //console.debug(data);
                    if(data.status == 1){
                        p++;
                        var html = "";
                        $(data.info).each(function(i,e){
                            html +=                 html += '<div class="row noticeList">\
                                <a href="">\
                                <div class="col-xs-2">\
                                <img class="noticeImg" src="'+e.path+'" />\
                                </div>\
                                <div class="col-xs-10">\
                                <p class="title">{$val.title}</p>\
                            <p class="intro">{$val.description}</p>\
                        <p class="info">浏览: 199 <span class="pull-right">{$val.create_time}</span> </p>\
            </div>\
            </a>\
            </div>';

                        })
                        $("#box").append(html);
                    }else{
                        $(".getMore").remove()
                    }
                })
            })
        })
    </script>
</block>


